.credits-main-container {
  background-image: $credits-background-bg;
  height: 600px;
  margin: auto;
  width: 800px;
}

.credits-back-button {
  cursor: pointer;
  height: 123px;
  margin-left: 5px;
  position: absolute;
  margin-top: 477px;
  width: 135px;
  &:hover {
    background-image: $credits-back-hover-bg;
  }
}

.credits-text {
  color: rgb(10, 10, 10);
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  margin: auto;
  margin-top: 175px;
  max-width: 70%;
  text-align: justify;
}

.credits-signature {
  margin-left: 400px;
  text-align: left;
}
